# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
venv.bak/
env/

# Uploads folder
uploads/

# File video_output
video_output.mp4

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Compiled C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# PyInstaller
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.env