* {
    margin: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/DMSerifDisplay-Italic.ttf);
    
}

@font-face {
    font-family: paragraphFont;
    src: url(../fonts/Bitter-BoldItalic.ttf);
}

@font-face {
    font-family: buttonFont;
    src: url(../fonts/Bitter-Bold.ttf);
}

nav {
    background-color: #CC98F4;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.container {
    background-color: #FFFFFF;
 }

.main-container {
    text-align: center;
    align-self: center;
}

.activity-container {
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 70px;
}

.button-enable-webcam {
    border-radius: 35px;
    padding: 15px;
    width: 200px;
    background-color: #FFB81A;
    border: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: buttonFont;
    transition: all 0.3s ease; /* Agregamos una transición para suavizar el cambio */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregamos una sombra sutíl */
}

.button-enable-webcam :hover {
    padding: 14px;
    width: 195px;
    background-color: #FFA500; /* Cambiamos ligeramente el color al hacer hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumentamos la intensidad de la sombra */
}

.bg-activity-image {
    opacity: 0.6;
    margin-bottom: 10px;
    transition: opacity 0.3s ease, box-shadow 0.3s ease; /* Agregamos una transición para suavizar el cambio de opacidad y la sombra */
    cursor: pointer; /* Cambiamos el cursor para indicar que es interactivo */
    border-radius: 10px; /* Agregamos bordes redondeados */
    overflow: hidden; /* Para asegurar que las esquinas redondeadas se apliquen correctamente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregamos una sombra sutil */
}

.bg-activity-image:hover {
    opacity: 1; /* Cambiamos la opacidad al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentamos la intensidad de la sombra al hacer hover */
}

.section-activity {
    position: relative;
    text-align: center;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    text-transform: uppercase;
    color: black;
    z-index: 1;
    font-family: paragraphFont;
}

.main-title {
    background-color: #5FE0C1;
    margin-bottom: 50px;
    padding: 10px;
}

.main-title h1 {
    font-family: myFirstFont;
}

.username {
    font-family: paragraphFont;
}

.section-activity img {
    border-radius: 20px;
}

.landmark-grid-container {
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
    margin-left: auto; /* Centra la grid container */
    margin-right: auto; /* Centra la grid container */
    width: 71%; /* Igual al ancho de video-container */
    background-color: #d6d6d6;
    text-align: center;
  }

@media (max-width: 1024px) {
    .activity-container {
        display: block;
    }
  }