<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFB81A">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Vitaance Care landing page">
    <meta name="author" content="Created by Mecantronic">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="Vitaance Care" /> <!-- website name -->
	<meta property="og:site" content="https://vitaance-pose.onrender.com" /> <!-- website link -->
	<meta property="og:title" content="Vitaance Care"/> <!-- title shown in the actual shared post -->
	<meta property="og:type" content="Landing Page" />

    <!-- Website Title -->
    <title>Vitaance Care</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <!-- Favicon  -->
    <link rel="icon" href="static/assets/favicon.ico">
    <!-- Script  -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body>

</body>

</html>