<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFB81A">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Vitaance Care landing page">
    <meta name="author" content="Created by Mecantronic">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="Vitaance Care" /> <!-- website name -->
	<meta property="og:site" content="https://vitaance-pose.onrender.com" /> <!-- website link -->
	<meta property="og:title" content="Vitaance Care"/> <!-- title shown in the actual shared post -->
	<meta property="og:type" content="Landing Page" />

    <!-- Website Title -->
    <title>Vitaance Care</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <!-- Favicon  -->
    <link rel="icon" href="static/assets/favicon.ico">
    <!-- Script  -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body class="container">
    <nav>

    </nav>
    <main class="main-container">
        <section>
            <img src="../static/assets/Logo Caviar Black (1).png" width="185px" height="95px">
            <div class="img-characters">
                <img src="../static/assets/Mascots-19.png" width="110px" height="120px">
                <img src="../static/assets/Mascots-01.png" width="100px" height="120px">
                <img src="../static/assets/Mascots-10.png" width="100px" height="120px">
            </div>
        </section>
        <section class="login-section">
            <h1 class="text">Login</h1>
            <div>
                <input type="text" name="username" id="username" placeholder="Username or email" class="login-input">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" class="login-input">
            </div>
            <form method="get" action="/term_conditions">
                <button class="login-button text">Log In</button>
            </form>
        </section>
        <div class="img-characters-2">
            <img src="../static/assets/Mascots-19.png" width="110px" height="120px">
            <img src="../static/assets/Mascots-01.png" width="100px" height="120px">
            <img src="../static/assets/Mascots-10.png" width="100px" height="120px">
        </div>
    </main>
    <script defer src="../static/js/script.js"></script>
</body>

</html>