<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFB81A">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Vitaance Care landing page">
    <meta name="author" content="Created by Mecantronic">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="Vitaance Care" /> <!-- website name -->
	<meta property="og:site" content="https://vitaance-pose.onrender.com" /> <!-- website link -->
	<meta property="og:title" content="Vitaance Care"/> <!-- title shown in the actual shared post -->
	<meta property="og:type" content="Landing Page" />

    <!-- Website Title -->
    <title>Vitaance Care</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activity.css') }}">
    <!-- Favicon  -->
    <link rel="icon" href="static/assets/favicon.ico">
    <!-- Script  -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body class="container">
    <nav>
        <img src="../static/assets/Logo Caviar Black (1).png" width="110px" height="55px">
        <p class="username">Sofia Medina</p>
    </nav>
    <main class="main-container">
        <div class="main-title">
            <h1 class="text">Choose activity</h1>
        </div>
        <div class="activity-container">
            <div>
                <div class="section-activity">
                    <h3 class="center-text">Decant</h3>
                    <img src="../static/assets/WhatsApp Image 2023-11-29 at 09.29.26.jpeg" width="250px" height="200px"
                    class="bg-activity-image" id="img-activity-1">
                </div>
                <div class="section-activity">
                    <h3 class="center-text">Stow</h3>
                    <img src="../static/assets/warehouse-forklift-driver-thinking-something-while-going-through-delivery-schedule-industrial-building.jpg" width="250px" height="200px" class="bg-activity-image" id="img-activity-2">
                </div>
            </div>
            <div>
                <div class="section-activity">
                    <h3 class="center-text">Pick</h3>
                    <img src="../static/assets/pexels-elevate-1267338.jpg" width="250px" height="200px" class="bg-activity-image" id="img-activity-3">
                </div>
                <div class="section-activity">
                    <h3 class="center-text">Pack singles</h3>
                    <img src="../static/assets/man-warehouse-working-with-packages.jpg" width="250px" height="200px" class="bg-activity-image" id="img-activity-4">
                </div>
            </div>
            <div>
                <div class="section-activity">
                    <h3 class="center-text">Pack multi</h3>
                    <img src="../static/assets/delivery-employees-working-together.jpg" width="250px" height="200px" class="bg-activity-image" id="img-activity-5">
                </div>
            </div>
        </div>
        <form method="get" action="/video_input">
            <button class="button-select-activity">Select</button>
        </form>
    </main>
    <footer>
        <img src="../static/assets/Logo Caviar Black (1).png" width="110px" height="55px">
    </footer>
    <script defer src="../static/js/script.js"></script>
</body>

</html>