<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/term.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Videostreaming</title>

</head>

<body class = "container">
    <main class="main-container">
        <div class="logo-icon">
            <img src="../static/assets/Logo Caviar Black (1).png" width="165px" height="75px">
        </div>
        <div>
            <h1>Term and Conditions</h1>
            <p>The Vitaance Pose does not store images or sound files on our servers. We guarantee data privacy and security, as the processing is done temporarily and locally on your device.</p>
            <form method="get" action="/activity">
                <button class="term-conditions-button">I agree</button>
            </form>
        </div>
    </main>
</body>

</html>